@charset "UTF-8";

* {
	border-radius: 5px;
	text-align: center;
}

body {
	background-color: #CCFF99;
}

.warnAlert {
	background-color: #4169e1;
	color: white;
	min-height: 0px;
}

.errAlert {
	background-color: #dc143c;
	color: white;
	min-height: 0px;
}
