<!DOCTYPE html>
<!-- メニュー画面 -->
<html xmins:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>メニュー画面</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/css/vali.css">
	</head>
<body>
	<p th:text="${memo}" style="margin-bottom: 220px;"></p>
</body>
</html>